<a href="https://colab.research.google.com/github/ustab/machine-learning/blob/master/Lgr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
veriler=pd.read_csv('/content/veriler.txt')
veriler

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

In [8]:
x=veriler.iloc[:,1:4].values

In [9]:
y=veriler.iloc[:,4:].values

In [32]:
x=x_train

In [34]:
y=y_train

In [33]:
from sklearn.model_selection import train_test_split

In [43]:
x_train,x_test, y_train, y_test=train_test_split(x,y, test_size=0.33, random_state=0)

In [46]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [47]:
X_train=sc.fit_transform(x_train)

In [48]:
X_test=sc.transform(x_test)

In [52]:
from sklearn.linear_model import LogisticRegression
Logr=LogisticRegression(random_state=0)

In [53]:
Logr.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=0)

In [54]:
y_pred=Logr.predict(X_test)

In [55]:
print(y_pred)

['e' 'e' 'k' 'k' 'e']

In [58]:
print(y_test)

[['e']
 ['e']
 ['k']
 ['e']
 ['e']]

In [61]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[3 1]
 [0 1]]